In [1]:
import numpy as np

In [3]:
#python array
parr =  [1,2,3,4,5,6,7,8]


#numpy array
narr = np.array([1,2,3,4,5,6,7,8])
%time narr.shape

Wall time: 0 ns

(8,)

In [4]:
#np.Where

In [5]:
salary = np.array([0, -1, 1000, 3000, 5000])

In [6]:
np.where(salary <= 0 , 0 , salary)

array([   0,    0, 1000, 3000, 5000])

In [7]:
x = np.array([10, 9, 5, 7, 8, 12, 8, 10])

In [8]:
x.mean()

8.625

In [9]:
x.cumsum()

array([10, 19, 24, 31, 39, 51, 59, 69], dtype=int32)

In [10]:
x.cumprod()

array([      10,       90,      450,     3150,    25200,   302400,
        2419200, 24192000], dtype=int32)

In [11]:
y = x > 10
y

array([False, False, False, False, False,  True, False, False])

In [12]:
y.sum()

1

In [13]:
y.any()

True

In [14]:
y.all()

False

In [15]:
x.sort()
x

array([ 5,  7,  8,  8,  9, 10, 10, 12])

In [16]:
np.unique(x)
x

array([ 5,  7,  8,  8,  9, 10, 10, 12])

In [17]:
np.diff(x)

array([2, 1, 0, 1, 1, 0, 2])

In [9]:
x = np.random.rand(4,5)
print (x)
print("\nreshape (by default it will save in row major(C) order) : \n", x.reshape(2,2,5))

[[0.54967377 0.67371736 0.27988149 0.70165793 0.35345102]
 [0.19757714 0.95508244 0.08600552 0.68300338 0.42312083]
 [0.38740471 0.57239702 0.83251642 0.45984518 0.26155346]
 [0.99743648 0.48623111 0.28094612 0.30829314 0.51230514]]

reshape (by default it will save in row major(C) order) :
 [[[0.54967377 0.67371736 0.27988149 0.70165793 0.35345102]
  [0.19757714 0.95508244 0.08600552 0.68300338 0.42312083]]

 [[0.38740471 0.57239702 0.83251642 0.45984518 0.26155346]
  [0.99743648 0.48623111 0.28094612 0.30829314 0.51230514]]]

In [16]:
print("reshape in column major(F) order : \n", x.reshape((2,2,5), order='F'))

reshape in column major(F) order :
 [[[0.54967377 0.67371736 0.27988149 0.70165793 0.35345102]
  [0.38740471 0.57239702 0.83251642 0.45984518 0.26155346]]

 [[0.19757714 0.95508244 0.08600552 0.68300338 0.42312083]
  [0.99743648 0.48623111 0.28094612 0.30829314 0.51230514]]]

In [17]:
print("reshape skip 1 dimension : \n", x.reshape(2,2,-1))

reshape skip 1 dimension :
 [[[0.54967377 0.67371736 0.27988149 0.70165793 0.35345102]
  [0.19757714 0.95508244 0.08600552 0.68300338 0.42312083]]

 [[0.38740471 0.57239702 0.83251642 0.45984518 0.26155346]
  [0.99743648 0.48623111 0.28094612 0.30829314 0.51230514]]]

In [18]:
x

array([[0.54967377, 0.67371736, 0.27988149, 0.70165793, 0.35345102],
       [0.19757714, 0.95508244, 0.08600552, 0.68300338, 0.42312083],
       [0.38740471, 0.57239702, 0.83251642, 0.45984518, 0.26155346],
       [0.99743648, 0.48623111, 0.28094612, 0.30829314, 0.51230514]])

In [20]:
print(" Flat they array means 1 dimension array \n", x.ravel())

 Flat they array means 1 dimension array
 [0.54967377 0.67371736 0.27988149 0.70165793 0.35345102 0.19757714
 0.95508244 0.08600552 0.68300338 0.42312083 0.38740471 0.57239702
 0.83251642 0.45984518 0.26155346 0.99743648 0.48623111 0.28094612
 0.30829314 0.51230514]

In [22]:
 print(" Flat?Ravel they array means 1 dimension array \n", x.flatten())

 Flat?Ravel they array means 1 dimension array
 [0.54967377 0.67371736 0.27988149 0.70165793 0.35345102 0.19757714
 0.95508244 0.08600552 0.68300338 0.42312083 0.38740471 0.57239702
 0.83251642 0.45984518 0.26155346 0.99743648 0.48623111 0.28094612
 0.30829314 0.51230514]

In [34]:
#Concatenate 

x = [[1,3,5],[7,9,0]]
arr1 = np.array(x)

y = [[11,13,15],[17,19,10]]
arr2 = np.array(y)

print ("concatenate both arrays row wise:\n", np.concatenate((arr1, arr2), axis=0))

concatenate both arrays orow wise:
 [[ 1  3  5]
 [ 7  9  0]
 [11 13 15]
 [17 19 10]]

In [35]:
print ("concatenate both arrays column wise:\n", np.concatenate((arr1, arr2), axis=1))

concatenate both arrays column wise:
 [[ 1  3  5 11 13 15]
 [ 7  9  0 17 19 10]]

In [41]:
#hstack, vstack

print ("concatenate using vstach:\n", np.vstack((arr1, arr2)))

concatenate using vstach:
 [[ 1  3  5]
 [ 7  9  0]
 [11 13 15]
 [17 19 10]]

In [42]:
print ("concatenate using hstach:\n", np.hstack((arr1, arr2)))

concatenate using hstach:
 [[ 1  3  5 11 13 15]
 [ 7  9  0 17 19 10]]

In [44]:
#Split

x = [1,4,5,6,7,9,1,4]
arr = np.array(x)

print("split 1-dimensional array at which positions\n", np.split(arr, [2,6]))

split the array at which positions
 [array([1, 4]), array([5, 6, 7, 9]), array([1, 4])]

In [49]:
x = [[1,4,5,6,7,9,1,4],[11,14,15,16,17,19,11,14]]
arr = np.array(x)

print("split 2-dimensional array column wise at which positions\n", np.split(arr, [2,6], axis=1))

split 2-dimensional array column wise at which positions
 [array([[ 1,  4],
       [11, 14]]), array([[ 5,  6,  7,  9],
       [15, 16, 17, 19]]), array([[ 1,  4],
       [11, 14]])]

In [59]:
print("split 2-dimensional array row wise at which positions\n", np.split(arr, [1], axis=0))

split 2-dimensional array row wise at which positions
 [array([[1, 4, 5, 6, 7, 9, 1, 4]]), array([[11, 14, 15, 16, 17, 19, 11, 14]])]

In [60]:
#hsplit, vsplit
#dstack depth stack

In [62]:
#Tile & Repeat

print("repeat func repeat element wise repeatation as per given numer, here tile repeate the whole array\n")

repeat func repeat element wise repeatation as per given numer, here tile repeate the whole array

In [66]:
arr = np.array([1,4,2,5,7])

print("repeat 4 times/n" , np.repeat(arr, 4))

print("/nrepeat 4 times/n" , np.tile(arr, 4))

repeat 4 times/n [1 1 1 1 4 4 4 4 2 2 2 2 5 5 5 5 7 7 7 7]
/nrepeat 4 times/n [1 4 2 5 7 1 4 2 5 7 1 4 2 5 7 1 4 2 5 7]

In [ ]:
#broadcasting